{% extends '::base.html.twig' %}

{% block body %}
    <h1>Book #{{ book.id }} - {{ book.title }}</h1>

    <h3>N. of pages: {{ book.pages }}</h3>

    <p>{{ book.description }}</p>

    <ul>
        <li><a href="{{ path('book') }}">« Book Manager</a></li>
    </ul>
{% endblock %}